//SWIFT_ACTIVE_COMPILATION_CONDITIONS=DEV
OTHER_SWIFT_FLAGS[config=Dev][sdk=*] = $(inherited) -DDev
GCC_PREPROCESSOR_DEFINITIONS = Test=0 Dev=1 Prod=0
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Development 환경 설정
PRODUCT_BUNDLE_IDENTIFIER = com.supershy.climbinglog.dev
CODE_SIGN_IDENTITY = Apple Development
PROVISIONING_PROFILE_SPECIFIER = match Development com.supershy.climbinglog.dev
DEVELOPMENT_TEAM = SUMATJC294

// Kakao Login
KAKAO_NATIVE_APP_KEY = ec9724801f5d359302acb5f9ef75d51c
BASE_URL = https:/$()/dev-api.climb-log.my
