//SWIFT_ACTIVE_COMPILATION_CONDITIONS=PROD
OTHER_SWIFT_FLAGS[config=TEST][sdk=*] = $(inherited) -DProduction
GCC_PREPROCESSOR_DEFINITIONS = Test=0 Develop=0 Production=1
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Development 환경 설정
PRODUCT_BUNDLE_IDENTIFIER = com.supershy.climbinglog.product
CODE_SIGN_IDENTITY = Apple Development
PROVISIONING_PROFILE_SPECIFIER = match Development com.supershy.climbinglog.product
DEVELOPMENT_TEAM = SUMATJC294
