//SWIFT_ACTIVE_COMPILATION_CONDITIONS=PROD
OTHER_SWIFT_FLAGS[config=Prod][sdk=*] = $(inherited) -DProd
GCC_PREPROCESSOR_DEFINITIONS = Test=0 Dev=1 Prod=0
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Development 환경 설정
PRODUCT_BUNDLE_IDENTIFIER = com.supershy.climbinglog.product
CODE_SIGN_IDENTITY = Apple Development
PROVISIONING_PROFILE_SPECIFIER = match Development com.supershy.climbinglog.product
DEVELOPMENT_TEAM = SUMATJC294

// Kakao
KAKAO_NATIVE_APP_KEY = f38aed2428e5cacc096f6f2b826404e9
BASE_URL = https:/$()/api.climb-log.my
